{% extends 'navigationbar.html' %}
{% load static %}



{% block body %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: cadetblue;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
</style>


<div class="sidebar">
  <a href="{% url 'view_patient_general' patient.id %}"> <b>Visão Geral</b></a>
<a class="active" style="background-color: cadetblue;"href="{% url 'questionnaires' patient.id %}"><b>Questionários QdVRS</b></a>
<a  href="{% url 'biometric_data' patient.id %}"><b>Dados Biométricos</b></a>
<a href="{% url 'hrv_data' patient.id %}">HRV</a>
<a href="{% url 'sleep_data' patient.id %}">Sono</a>
<a href="{% url 'physical_activity_data' patient.id %}">Atividade Física</a>
<a href="{% url 'qdvrs_total' patient.id %}"><b>QdVRS Total</b></a>
</div>


    <div class="content" style="margin-top:50px">
    <br> <br>
    <ul class="nav nav-pills nav-fill nav-dark bg-dark">
        <li class="nav-item">
    <a  class="nav-link"href="{% url 'questionnaires' patient.id %}">Visão Geral </a>
  </li>
  <li class="nav-item">
    <a  class="nav-link"  href="{% url 'sf_36' patient.id %}">SF-36 </a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" style="background-color: cadetblue;" href="{% url 'facit' patient.id %}">FACT-Lym</a>
  </li>
</ul>

<br>
         <br>

        <h1> Paciente <b>{{ patient.name }}</b>  - Resultados FACT-Lym </h1>
        <br><br> 
        <a href="{% url 'factTable' patient.id %}" class="btn btn-outline-info btn-sm " style="margin:auto; display:block;background-color: white;" > Ver Tabela </a>
        <br><br>
        <h7 style="text-align:center" > Clique nas variáveis que  <b>não</b> pretende ver representadas no gráfico </h7>

            <div id="container" style="width: 100%;">
              <canvas id="factlym-chart"></canvas>
            </div>
            
            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
            <script>
              var config = {
                type: 'line',
                
                data: {
                  datasets: [{
                    data: {{ physical|safe}},
                    fill: false,
                    borderColor: "#37364e",
                     borderDash: [5, 5],
                     backgroundColor: "#e755ba",
                     pointBackgroundColor: "#55bae7",
                     pointBorderColor: "#55bae7",
                     pointHoverBackgroundColor: "#55bae7",
                     pointHoverBorderColor: "#55bae7",
                    label: 'Bem-estar Físico'
                  },{
                    data: {{ social_family|safe }},
                    fill: false,
                    borderColor: "#355d69",
                     borderDash: [5, 5],
                     backgroundColor: "#e755ba",
                     pointBackgroundColor: "#55bae7",
                     pointBorderColor: "#55bae7",
                     pointHoverBackgroundColor: "#55bae7",
                     pointHoverBorderColor: "#55bae7",
                    label: 'Bem-estar Social/Familiar'
                  },
                  {
                    data: {{ emotional|safe }},
                    fill: false,
                    borderColor: "#6aae9d",
                     borderDash: [5, 5],
                     backgroundColor: "#e755ba",
                     pointBackgroundColor: "#55bae7",
                     pointBorderColor: "#55bae7",
                     pointHoverBackgroundColor: "#55bae7",
                     pointHoverBorderColor: "#55bae7",
                    label: 'Bem-estar Emocional'
                  },
                  {
                    data: {{ functional|safe }},
                    fill: false,
                    borderColor: "#b9d4b4",
                     borderDash: [5, 5],
                     backgroundColor: "#e755ba",
                     pointBackgroundColor: "#55bae7",
                     pointBorderColor: "#55bae7",
                     pointHoverBackgroundColor: "#55bae7",
                     pointHoverBorderColor: "#55bae7",
                    label: 'Bem-estar Funcional'
                  }, {
                    data: {{ lymphoma|safe }},
                    fill: false,
                    borderColor: "#f4e9d4",
                     borderDash: [5, 5],
                     backgroundColor: "#e755ba",
                     pointBackgroundColor: "#55bae7",
                     pointBorderColor: "#55bae7",
                     pointHoverBackgroundColor: "#55bae7",
                     pointHoverBorderColor: "#55bae7",
                    label: 'Linfoma'
                  },
                  {
                    data: {{ toi|safe }},
                    fill: false,
                    borderColor: "#d0baa9",
                     borderDash: [5, 5],
                     backgroundColor: "#e755ba",
                     pointBackgroundColor: "#55bae7",
                     pointBorderColor: "#55bae7",
                     pointHoverBackgroundColor: "#55bae7",
                     pointHoverBorderColor: "#55bae7",
                    label: 'TOI'
                  },
                  {
                    data: {{ fact_g|safe }},
                    fill: false,
                    borderColor: "#9e8e91",
                     borderDash: [5, 5],
                     backgroundColor: "#e755ba",
                     pointBackgroundColor: "#55bae7",
                     pointBorderColor: "#55bae7",
                     pointHoverBackgroundColor: "#55bae7",
                     pointHoverBorderColor: "#55bae7",
                    label: 'FACT-G'
                  }, {
                    data: {{ fact_l|safe }},
                    fill: false,
                    borderColor: "#5b4a68",
                     borderDash: [5, 5],
                     backgroundColor: "#e755ba",
                     pointBackgroundColor: "#55bae7",
                     pointBorderColor: "#55bae7",
                     pointHoverBackgroundColor: "#55bae7",
                     pointHoverBorderColor: "#55bae7",
                    label: 'Fact-Lym'
                  }],
                  labels: {{ labels|safe }}
                },
                options: {
                  responsive: true
                }
              };
            
              window.onload = function() {
                var ctx = document.getElementById('factlym-chart').getContext('2d');
                window.myPie = new Chart(ctx, config);
              };
            
            </script>

</div>
        {% endblock %}
       