{% extends 'navigationbar.html' %}
{% load static %}
{% block body %}

<br><br>
    <div class="container" style="margin-top:50px">
        <h2 class="text-center" style="color: cadetblue;"> Ver Consulta </h2>
        <br><br>
            <table id="example2" class="table table-hover table-sm table-bordered" class="d-flex flex-nowrap">
                <thead>
                     <tr>
                     <th style="text-align:left"> Médico </th>
                      <th style="text-align:left"> Paciente </th>
                      <th style="text-align:left"> Data </th>
                         <th style="text-align:left"> Horário </th>
                         <th style="text-align:left"> Apagar </th>
                     </tr>
                </thead>
                <tbody>
                 {% for i in appointment %}
                     <tr>
                         <td>{{ i.doctor }}</td>
                         <td ><a href="{% url 'view_patient_general' i.patient.id %}">{{ i.patient }}</a></td>
                         <td>{{ i.date1 }}</td>
                         <td>{{ i.time1 }}</td>
                         <td><a href="{% url 'delete_appointment' i.id %}" onclick="return confirm('Tem a certeza que pretende eliminar este registo?')" class="btn btn-danger"> Apagar </a></td>
                     </tr>
                {% endfor %}
                 </tbody>
            </table>
    <br><br>
    <a href="{% url 'add_appointment' %}" class="btn btn-primary btn-block"> Adicionar Consulta </a>
    </div>
{% endblock %}