
{% extends 'navigationbar_admin.html' %}
{% load static %}
{% block body %}
<br><br>
    <div class="container" style="margin-top:50px">
        <h2 class="text-center"> Ver Médico </h2>
        <br><br>
            <table class="table table-hover" id="example">
                <thead>
                     <tr>
                     <th style="text-align:left"> ID Médico </th>
                      <th style="text-align:left">  Nome </th>
                      <th style="text-align:left"> Contacto </th>
                      <th style="text-align:left"> Especialidade </th>
                      <th style="text-align:left"> Apagar </th>
                     </tr>
                </thead>
                <tbody>
                 {% for i in doctor %}
                     <tr>
                         <td>{{ i.id }}</td>
                         <td>{{ i.name }}</td>
                         <td>{{ i.mobile }}</td>
                          <td>{{ i.specialization }}</td>
                         <td><a href="{% url 'delete_doctor' i.id %}" onclick="return confirm('Tem a certeza que pretende eliminar este registo?')" class="btn btn-danger"> Apagar </a></td>
                     </tr>
                {% endfor %}
                 </tbody>
            </table>
    <br><br>
    <a href="{% url 'add_doctor' %}" class="btn btn-primary btn-block"> Adicionar Médico </a>
   
         </div>
{% endblock %}